<div class="container">
    <div class="heading">
        <h1>Welcome to our blog</h1>
        <a class="btn btn_success" href="/article/new">New Article</a>
     </div>

     <div class="blog">
        <% article.forEach(element => {%>
            <div class="blog_post">
             <h1><%=  element.title.substring(0,19)   %></h1>
            <p>  <%=  element.des.substring(0, 80).concat('...')  %>  </p>  

             <h5><i><%=  element.createdAt.toLocaleDateString()  %></i></h5>
              <div class="buttons">
                   <a class="btn btn_success" href="/article/<%=  element.slug  %>">
                       read more
                  </a>
                   <a  class="btn btn_info" href="/article/edit/<%=  element.id  %>">
                       edit
                  </a>
                   <a  class="btn btn_danger" href="/article/delete/<%= element.id  %>">
                       Delete
                  </a>
              </div>
            </div>
            
        <%}); %> 
   </div>

</div>